<!-- Login modal window -->
{% include bootstrap/modal.html id="loginModal" page="page/modals/login.html" large=true title="Login" form=true submit="Login" %}

<!-- Commit modal window -->
{% include bootstrap/modal.html id="commitModal" page="page/modals/commit.html" large=true title="Save / create / update" form=true submit="Commit" %}

<!-- Info modal window -->
{% include bootstrap/modal.html id="infoModal" page="page/modals/info.html" large=true title="Info" %}

<!-- Preview modal window -->
{% include bootstrap/modal.html id="previewModal" page="page/modals/preview.html" large=true title="Preview" scrollable="true" %}

<!-- Alert modal -->
{% include page/modals/alert.html %}