<div class="form-group mt-3">
  <label for="personalToken">Generate a <a href="https://github.com/settings/tokens" target="_blank">GitHub personal token</a> and paste below.</label>
  <input autocomplete="off" type="text" class="form-control" id="personalToken" placeholder="personal token">
  <div class="invalid-feedback">
    &nbsp;
  </div>
  <small class="form-text text-muted">Personal token will be hashed and stored on <code>localStorage</code>.<br><strong>Logout</strong> to remove permanently from the browser.</small>
</div>