{% if "range checkbox radio" contains p.type and compact %}
<div class="col-sm-{{ label_width }}" id="{{ field_id }}_label" {% if p.description or p.units %}data-toggle="tooltip" title="{{ p.description }} {{ p.units }}"{% endif %}>{{ title }}{% if p.type == "range" %} <span></span>{% endif %}</div>
{% else %}
{%- unless  "checkbox radio" contains p.type -%}
<label for="{{ field_id }}" id="{{ field_id }}_label" class="{% if compact %}col-sm-{{ label_width }} col-form-label{% endif %}" aria-label="{{ title }}" {% if p.description or p.units %}data-toggle="tooltip" title="{{ p.description }} {{ p.units }}"{% endif %}>{{ title }}{% if p.type == "range" %} <span></span>{% endif %}</label>
{%- endunless -%}
{% endif %}