{% capture default_title %}{{ include.title | default: include.parent.first.first }}{% endcapture %}
{% capture backup_title %}{% include filter/unslug.html string=default_title %}{% endcapture %}
{%- assign parent = include.parent[1] -%}
<div id="accordion_{{ field_id }}" class="accordion">
  <div class="card {{ include.parent.class }}">
    <div class="card-header" id="heading_{{ field_id }}">
      <span></span>
      <a
        href="#"
        data-toggle="collapse"
        data-target="#collapse_{{ field_id }}"
        aria-expanded="{% if include.parent.expanded != false %}true{% else %}false{% endif %}"
        aria-controls="collapse_{{ field_id }}"
        aria-label="{{ label }}">{{ include.parent.title | default: backup_title }}</a> {% if parent.description or parent.units %}- {{ parent.description }} {{ parent.units }}{% endif %}
    </div>
    <div
      id="collapse_{{ field_id }}"
      class="collapse {% if include.parent.expanded != false %}show{% endif %}"
      aria-labelledby="heading_{{ field_id }}"
      data-parent="#accordion_{{ field_id }}">
      <div class="card-body">
        {% if include.parent.description or include.parent.units %}<p class="text-muted">{{ include.parent.description }} {{ include.parent.units }}</p>{% endif %}
        {% for pp in include.properties %}
        {% include schema/property.html property=pp %}
        {% endfor %}
      </div><!-- close card-body -->
    </div><!-- close collapsible -->
  </div><!-- close card -->
  <div class="card"></div><!-- patch for single accordion -->
</div><!-- close accordion -->
{% capture api %}Render the property collapsible and loop `include.parent.properties`
Use variabile `field_id` for the collapsible `id`
title string `include.parent.first.first` | Title of the object
parent object nil | Parent property, used for `title` `description` and `units`
properties object nil | Properties for the form{% endcapture %}