{% assign current_property = "" | split: "" | push: include.p[0] | push: include.p[1].items %}
<div class="card card-body">
  {%- assign slugged = include.p[0] | capitalize -%}
  {% capture default_title %}{%- include filter/unslug.html string=slugged -%}{% endcapture %}
  <template id="template.{{ include.p[0] }}">
    <button type="button" data-remove="{{ include.p[0] }}" class="close" aria-label="Remove">
      <span aria-hidden="true">&times;</span>
    </button>
    {%- include schema1/property.html prop=current_property root=include.r schema=include.s -%}
  </template>
  <h4>{{ include.p[1].title | default: default_title }}<a href="#" data-add="{{ include.p[0] }}" data-index="1" class="btn" role="button">+</a></h4>{%- if include.p[1].description -%}<p class="text-muted">{{ include.p[1].description }}</p>{%- endif -%}
</div>