{%- assign slugged = include.p[0] | capitalize -%}
{% capture default_title %}{%- include filter/unslug.html string=slugged -%}{% endcapture %}
<div class="form-group">
  <button type="button" data-remove="{{ include.r }}" class="close" aria-label="Remove" data-dismiss="form-group">
    <span aria-hidden="true">&times;</span>
  </button>
  <label for="{{ include.r }}">{{ include.p[1].title | default: default_title }}</label>
  <input type="{{ include.t }}" class="form-control" id="{{ include.r }}" aria-describedby="{{ include.r }}Help" aria-label="{{ include.p[0] }}" data-format="{{ include.p[1].format }}">
  <small id="{{ include.r }}Help" class="form-text text-muted">{{ include.p[1].description }}</small>
</div>