{% assign deletable = include.deletable %}
{% assign default_title = include.prop[0] | capitalize %}
{% assign title = include.prop[1].title | default: default_title %}
{% assign description = include.prop[1].description %}
{% if include.prop[1].ref %}
{% comment %} ------------------- REFERENCE ------------------- {% endcomment %}
  {% assign ref = include.prop[1].ref | remove: "#/" | split: "/" %}
  {% assign _prop = schema %}
  {% for i in ref %}{% assign _prop = _prop[i] %}{% endfor %}
  {% assign _prop = "" | split: "" | push: include.prop.first | push: _prop %}
  {% include schema1/property1.html prop=_prop deletable=deletable %}
{% elsif include.prop[1].type == "object" %}
{% comment %} ------------------- OBJECT ------------------- {% endcomment %}
  {% assign path = path | push: include.prop[0] %}
  {%- if deletable -%}{% assign path = path | push: 0 %}{%- endif -%}
  <div class="card">
    {% include schema1/header.html title=title description=description deletable=include.prop.first %}
    <div class="card-body" aria-label="{{ include.prop.first }}">
      {% for op in include.prop[1].properties %}
      {% include schema1/property1.html prop=op %}
      {% endfor %}
    </div>
  </div>
  {%- assign new_path = "" | split: "" -%}
  {%- for p in path -%}
    {%- unless forloop.last -%}
      {%- assign new_path = new_path | push: p -%}
    {%- endunless -%}
  {%- endfor -%}
  {%- assign path = new_path -%}
{% elsif include.prop[1].type == 'array' and include.prop[1].items %}
{% comment %} ------------------- ARRAY ------------------- {% endcomment %}
  <div class="card">
    {% assign add = '<a href="#" data-add="true" class="btn" role="button">+</a>' %}
    {% include schema1/header.html title=title description=description add=add %}
    <template id="template.{{ include.prop[0] }}">
  {% assign op = "" | split: "" | push: include.prop.first | push: include.prop[1].items %}
  {% include schema1/property1.html prop=op deletable=true %}
    </template>
    <div class="card-body" data-array="1" aria-label="{{ include.prop.first }}">
    </div>
  </div>
  {%- assign new_path = "" | split: "" -%}
  {%- for p in path -%}
    {%- unless forloop.last -%}
      {%- assign new_path = new_path | push: p -%}
    {%- endunless -%}
  {%- endfor -%}
  {%- assign path = new_path -%}
{% else %}
{% comment %} ------------------- RENDER ------------------- {% endcomment %}
  {% assign path = path | push: include.prop[0] %}
  {%- if deletable -%}{% assign path = path | push: 0 %}{%- endif -%}
  {% assign counter = counter | plus: 1 %}
  {% case include.prop[1].type %}
    {% when 'string' %}
  <div class="form-group">
    {% if deletable %}
      {% include schema1/dismiss.html deletable=deletable id=include.prop.first %}
    {% endif %}
    <label for="{{ include.prop[0] | append: counter }}">{{ title }}</label>
    <input type="text" class="form-control" id="{{ include.prop[0] | append: counter }}" aria-describedby="{{ include.prop[0] | append: counter }}Help" aria-label="{{ include.prop[0] }}" data-format="{{ include.prop[1].format }}" data-path="{{ path | join: '.' }}">
    <small id="{{ include.prop[0] | append: counter }}Help" class="form-text text-muted">{{ include.prop[1].description }}</small>
  </div>
    {% when 'number' or "integer" %}
  <div class="form-group">
    {% if deletable %}
      {% include schema1/dismiss.html deletable=deletable id=include.prop.first %}
    {% endif %}
    <label for="{{ include.prop[0] | append: counter }}">{{ title }}</label>
    <input type="number" class="form-control" id="{{ include.prop[0] | append: counter }}" aria-describedby="{{ include.prop[0] | append: counter }}Help" aria-label="{{ include.prop[0] }}" data-format="{{ include.prop[1].format }}" data-path="{{ path | join: '.' }}">
    <small id="{{ include.prop[0] | append: counter }}Help" class="form-text text-muted">{{ include.prop[1].description }}</small>
  </div>
    {% when "boolean" %}
  <div class="form-group form-check">
    {% if deletable %}
      {% include schema1/dismiss.html deletable=deletable id=include.prop.first %}
    {% endif %}
    <input type="checkbox" class="form-check-input" id="{{ include.prop[0] | append: counter }}" aria-describedby="{{ include.prop[0] | append: counter }}Help" aria-label="{{ include.prop[0] }}" data-path="{{ path | join: '.' }}">
    <label for="{{ include.prop[0] | append: counter }}" class="form-check-label">{{ include.prop[1].title | default: default_title }}</label>
    <small id="{{ include.prop[0] | append: counter }}Help" class="form-text text-muted">{{ include.prop[1].description }}</small>
  </div>
  {% endcase %}
  {%- assign new_path = "" | split: "" -%}
  {%- for p in path -%}
    {%- unless forloop.last -%}
      {%- assign new_path = new_path | push: p -%}
    {%- endunless -%}
  {%- endfor -%}
  {%- assign path = new_path -%}
{% endif %}