<!DOCTYPE html>
<html lang="en">
<head>
{% include page/head/meta.html %}
{% include page/head/stylesheet.html %}
{% include page/head/favicons.html %}
{% include page/head/social.html %}
{% include page/head/javascript.html %}
</head>
  <body class="{{ page.title | slugify | default: 'home' }}">
{% if page.header != false %}{% include page/header.html %}{% endif %}
{% include page/navbar.html %}
{% include page/main.html %}
{% include page/modals.html %}
{% include page/footer.html %}
  </body>
</html>
