<!doctype html>
<html lang="en">
<head>
{% include page/init.html %}
{% include page/meta.html %}
{% include page/stylesheet.html %}
{% include page/favicons.html %}
{% include page/social.html %}
{% include page/javascript.html %}
</head>
  <body class="{{ page.title | slugify }}"
    data-version="{{ site.github.latest_release.tag_name | default: '-' }}"
    data-updated="{{ repository.updated_at | date: '%F/%T' }}">
{% include page/navbar.html %}
{% include page/main.html %}
{% include modal/login.html %}
{% capture info %}{% include page/info.html %}{% endcapture %}
{% include bootstrap/modal.html id="infoModal" md=info large=true title="Info" %}
{% include page/footer.html %}
  </body>
</html>
